<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584743528258-6cg31ovuevg7b0sfdhk9uo8i95bvarou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584743528258-6cg31ovuevg7b0sfdhk9uo8i95bvarou</string>
	<key>API_KEY</key>
	<string>AIzaSyBsH-KKh9TlPpmE6NJ6hzdvcU4fGmxCRRc</string>
	<key>GCM_SENDER_ID</key>
	<string>584743528258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sumit.firebase-auth-poc</string>
	<key>PROJECT_ID</key>
	<string>pocs-a02ed</string>
	<key>STORAGE_BUCKET</key>
	<string>pocs-a02ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584743528258:ios:1c5d2f8dda977363958adb</string>
	<key>DATABASE_URL</key>
	<string>https://pocs-a02ed.firebaseio.com</string>
</dict>
</plist>